etc/uikit_whitelist.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="urn:magento:module:MageOS_UIkitTheme:etc/uikit_whitelist.xsd"
            targetNamespace="urn:magento:module:MageOS_UIkitTheme:etc/uikit_whitelist.xsd"
            elementFormDefault="qualified">
    <xsd:element name="config">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="paths">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="path" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string">
                                            <xsd:attribute name="name" type="xsd:string" use="required"/>
                                            <xsd:attribute name="type" type="xsd:string" use="required"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="terms">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="term" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:simpleContent>
                                        <xsd:extension base="xsd:string">
                                            <xsd:attribute name="name" type="xsd:string" use="required"/>
                                            <xsd:attribute name="type" type="xsd:string" use="required"/>
                                        </xsd:extension>
                                    </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
