etc/uikit_whitelist.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="namedType" abstract="true" mixed="true">
        <xs:attribute name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="complexType" mixed="true">
        <xs:complexContent>
            <xs:extension base="namedType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:annotation>
        <xs:documentation>Contains uikit whitelist.</xs:documentation>
    </xs:annotation>

    <xs:element name="config" type="safelistType" />

    <xs:complexType name="safelistType">
        <xs:annotation>
            <xs:documentation>Definition of safelist.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="paths" type="pathsType" minOccurs="0"/>
            <xs:element name="terms" type="termsType" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="termsType">
        <xs:sequence>
            <xs:element name="term" type="xs:string" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pathsType">
        <xs:sequence>
            <xs:element name="path" type="xs:string" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
